[dataset]
# tensor type (float or double)
tensor_type    = float
task_type      = seg
supervise_type = weak_sup

train_dir = data/Word_cropWL_h5
train_csv = data/Word/Word_3d/train.csv
valid_csv = data/Word/Word_3d/valid.csv
test_dir  = data/Word_cropWL
test_csv  = data/Word/Word_3d/test.csv
train_dim = 3
train_label_key = scribble
valid_dim = 3
test_dim  = 3
train_batch_size = 2

# data transforms
train_transform = [Pad, RandomCrop, NormalizeWithMeanStd, PartialLabelToProbability]
valid_transform = [Pad, NormalizeWithMeanStd, LabelToProbability]
test_transform  = [Pad, NormalizeWithMeanStd]

Pad_output_size = [16, 256, 256]
RandomCrop_output_size = [16, 256, 256]
NormalizeWithMeanStd_channels = [0]



[network]
# type of network
net_type = TDNet

dimension        = 2
in_chns          = 1
class_num        = 8
is_deepSupervision = True

[training]
# list of gpus
gpus       = [0]

loss_type     = CrossEntropyLoss

# for optimizers
optimizer     = Adam
learning_rate = 1e-3
momentum      = 0.9
weight_decay  = 1e-5

# for lr schedular 
lr_scheduler  = PolynomialLR
lr_power      = 0.9
early_stop_patience = 10000

ckpt_dir    = model/word_psseg_2d

# start iter
iter_start = 0
iter_max   = 60000
iter_valid = 500
iter_save  = [20000,40000,60000]

[weakly_supervised_learning]
method_name    = PSSEG
rampup_start   = 0
rampup_end     = 20000
# hyper-parameters
uspc_weight = 10.0 
ccac_weight = 0.01


[testing]
# list of gpus
gpus       = [0]

# checkpoint mode can be [0-latest, 1-best, 2-specified]
ckpt_mode         = 1
output_dir        = result/word_psseg_2d

sliding_window_enable = True
sliding_window_size   = [16, 256, 256]
sliding_window_stride = [16, 256, 256]
sliding_window_batch  = 4